:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  text-align: center;
  padding: 2em;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

td.day {
  height: 200px;
  border: 1px solid black;
  text-align: right;
  width: 14%;
  vertical-align: top;
}
span.day-marker {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: .2em;
  font-weight: bold;
}

td.day p {
  width: 100%;
  text-align: center;
}
div.heading-container {
  width: 20%;
  margin: auto;
  display: flex;
}

div.nav {
  flex: 2;
  padding: 2em 0;
}
div.month-heading {
  flex: 6;
  padding: 2em 0;
}
div.month-heading h3 {
  margin: 0;
}
footer {
  margin-top: 2rem;
  background-color: #CCC;
  width: 100%;
}
